* {
	margin: 0;
	padding: 0;
}

body {
	width: 780px;
	height: 600px;
	display: flex;
	flex-direction: column;
}

iframe {
	flex: 1;
}

div {
	display: flex;
	flex-direction: column;
}

#view {
	flex: 1;
}

#tools {
	background-color: #36393f;
	flex-direction: row-reverse;
}

button:hover,
.selected {
	opacity: 1;
}

button {
	width: 80px;
	height: 60px;
	background-color: unset;
	border: unset;
	color: white;
	opacity: 0.6;
}

#wpp {
	background-color: #44aa44;
}

#discord {
	background-color: #7289da;
}

#notion {
	background-color: #2f3437;
}
